<%= form_with model: @customer do |f| %>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading mt-5"><h4>会員情報編集</h4></div>
        <div class="panel-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">氏名</label>
                <div class="col-sm-10">
                  <%= f.text_field :last_name, autofocus: true, id:"inputName", placeholder:"名前"%>
                  <%= f.text_field :first_name, autofocus: true, id:"inputName", placeholder:"名前"%>
                </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">フリガナ</label>
                <div class="col-sm-10">
                  <%= f.text_field :last_name_kana, autofocus: true, id:"inputName", placeholder:"名前"%>
                  <%= f.text_field :first_name_kana, autofocus: true, id:"inputName", placeholder:"名前"%>
                </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">メールアドレス</label>
                <div class="col-sm-10">
                  <%= f.text_field :email,:size=>"47", autofocus: true, id:"inputEmail", placeholder:"メールアドレス"%>
                </div>
            </div>
            <div class="form-group">
             <label class="col-sm-2 control-label">郵便番号(ハイフンなし)</label>
               <div class="col-sm-10">
                 <%= f.text_field :post_code, autofocus: true, id:"inputPostCode", placeholder:"郵便番号"%>
               </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">住所</label>
                <div class="col-sm-10">
                  <%= f.text_field :address,:size=>"47", autofocus: true, id:"inputAddress", placeholder:"住所"%>
                </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">電話番号(ハイフンなし)</label>
                <div class="col-sm-10">
                  <%= f.text_field :phone_number, autofocus: true, id:"inputPhoneNumber", placeholder:"電話番号"%>
                </div>
            </div>
            <div class="col-md-6">
              <%= f.submit "編集内容を保存",class: "btn btn-success" %>
                <% if customer_signed_in? && @customer.id == current_customer.id %>
                  <%= link_to "退会する", unsubscribe_customers_path(current_customer), class: "btn btn-outline-danger" %>
              <% end %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<% end %>
