<p id="notice"></p>
<div class='container'>
<div class='row'>
<div class="col-sm-12 col-md-8 col-lg-8 px-6 px-sm-6 mx-auto">
 <h2>商品編集</h2>

 <%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>

 <div class="form-group">
  <strong><%= f.label :"商品画像", class: "col-sm-3 control-label" %></strong>
  <%= f.file_field :item_image, class: "image" %>

 <div class="form-group">
  <strong><%= f.label :"商品名", class: "col-sm-3 control-label" %></strong>
  <%= f.text_field :name,placeholder: "商品名", class: "col-sm-5 form-control-static name" %>
  </div>

 <div class="form-group">
  <strong><%= f.label :"商品説明", class: "col-sm-3 control-label" %></strong>
  <%= f.text_area :introduction,:rows => "8",placeholder: "ここに説明文を記述します", class: "col-sm-5 control-label introduction" %>
  </div>

  <div class="form-group">
  <strong><%= f.label :"ジャンル", class: "col-sm-3 control-label" %></strong>
  <%= f.collection_select(:item_genre_id, ItemGenre.all, :id, :name, prompt: "-- 選択してください --", class: "col-sm-5 control-label genre_id") %>
  </div>

  <div class="form-group">
  <strong><%= f.label :"税抜価格", class: "col-sm-3 control-label" %></strong>
  <%= f.text_field :price,placeholder: "1000", class: "col-sm-5 form-control-static price" %>円
  </div>

  <div class="form-group">
   <strong><%= f.label :"ステータス", class: "col-sm-3 control-label" %></strong>
   <%= f.radio_button :is_active, true %>
   <strong><%= f.label :is_active, "販売中", class: "col-sm-3 control-label text-active text-success" %></strong>
   <%= f.radio_button :is_active, false %>
   <strong><%= f.label :is_active, "販売停止中", class: "col-sm-3 control-label text-invalid text-secondary" %></strong>
  </div>

  <div class="text-center">
  <%= link_to "Destroy", admin_item_path(@item),method: :delete,"data-confirm"=>"Are you sure?" ,class:"btn btn-danger" %>
  <%= f.submit "Create", class: "btn btn-success" %>
  </div>
<% end %>
 </div>
 </div>
 </div>

