<div class="container px-5 px-sm-0 mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h2>
        <%= form_with model: @customer do |f| %>
        <table>
          <tr>
            <td class = "pt-3 pb-3">
              <label for="inputName">氏名</label>
            </td>
            <td>
              <%= f.text_field :last_name, autofocus: true, id:"inputName", placeholder:"名前"%>
              <%= f.text_field :first_name, autofocus: true, id:"inputName", placeholder:"名前"%>
            </td>
          </tr>
          <tr>
            <td class = "pt-3 pb-3">
              <label for="inputName">フリガナ</label>
            </td>
            <td>
              <%= f.text_field :last_name_kana, autofocus: true, id:"inputName", placeholder:"名前"%>
              <%= f.text_field :first_name_kana, autofocus: true, id:"inputName", placeholder:"名前"%>
            </td>
          </tr>
          <tr>
            <td class = "pt-3 pb-3">
              <label for="inputName">郵便番号</label>
            </td>
            <td>
              <%= f.text_field :post_code, autofocus: true, id:"inputPostCode", placeholder:"郵便番号"%>
            <td>
          </tr>
          <tr>
            <td class = "pt-3 pb-3">
              <label for="inputName",>住所</label>
            </td>
            <td>
              <%= f.text_field :address, :size=>"47", autofocus: true, id:"inputAddress", placeholder:"住所"%>
            </td>
          </tr>
          <tr>
            <td class = "pt-3 pb-3">
              <label for="inputName">電話番号</label>
            </td>
            <td>
              <%= f.text_field :phone_number, autofocus: true, id:"inputPhoneNumber", placeholder:"電話番号"%>
            </td>
          </tr>
          <tr>
            <td class = "pr-5 pt-3 pb-3">
              <label for="inputName">メールアドレス</label>
            </td>
            <td>
              <%= f.text_field :email, :size=>"47", autofocus: true, id:"inputEmail", placeholder:"メールアドレス"%>
            </td>
          <tr>
            <td class = "pt-3 pb-3">
              <label for="inputName">会員ステータス</label>
            </td>
            <td>
               <%= f.radio_button :is_deleted, true %>
               <strong><%= f.label :is_deleted, "退会", class: "cotext-active" %></strong>
               <%= f.radio_button :is_deleted, false %>
               <strong><%= f.label :is_deleted, "有効", class: "text-invalid" %></strong>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
              <%= f.submit "変更を保存",class: "btn btn-success" %>
              <% end %>
            </td>
          </tr>
        </table>
    </div>
  </div>
</div>