<% if @order.errors.any? %>
  <h3><%= @order.errors.count %> error prohibited this obj from being saved:</h3>
  <ul>
    <% @order.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-12">

      <h2>注文履歴一覧</h2>

      <table class="table table-borderless">
        <tr>
          <th>購入者</th>
          <td><%= @order.customer.last_and_first_name %></td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            〒<%= @order.postal_code %>
            <%= @order.address %></br>
            <%= @order.name %>
          </td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th>注文ステータス</th>
            <td>
              <%= form_with model: @order, url: admin_order_path(@order.id) do |f| %>
                <div>
                  <div><%= f.select :production_status, Order.production_statuses_i18n.invert, {} %></div>
                  <div class="submit form-group"><%= f.submit '更新' %></div>
                </div>
              <% end %>
            </td>
        </tr>
      </table>

      <div class="d-flex bd-highlight">
        <table class="table-borderless col-md-8">
          <tr class="table-secondary">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
            <th></th>
          </tr>
          <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.price %></td>
            <td><%= order_detail.quantity %></td>
            <td><%= order_detail.subtotal %></td>
            <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id) do |f| %>
              <td>
                <%= f.select :order_status, OrderDetail.order_statuses_i18n.invert, {} %>
                <%= f.hidden_field :order_id, :value => order_detail.order_id %>
              </td>
              <td class="submit form-group">
                <%= f.submit '更新' %>
              </td>
            <% end %>
          </tr>
          <% end %>
        </table>

        <table class="align-items-end ml-4 table table-borderless col-md-4">
          <tr>
            <td class="table-secondary">商品合計</td>
            <td><%= @total.round.to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <td class="table-secondary">配送料</td>
            <td>800円</td>
          </tr>
          <tr>
            <th class="table-secondary">ご請求額</th>
            <td><%= (@total + 800).round.to_s(:delimited) %>円</td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>