<% if @new_order.errors.any? %>
  <h3><%= @new_order.errors.count %> error prohibited this obj from being saved:</h3>
  <ul>
    <% @new_order.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-12">

      <h2>注文情報確認</h2>

      <div class="d-flex bd-highlight">
        <table class="table-bordered">
          <tr class="table-secondary">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
          <% @cart_items.each do |cart| %>
            <tr>
              <td><%= cart.item.name %></td>
              <td><%= cart.item.add_tax_price.to_s(:delimited) %></td>
              <td><%= cart.quantity %></td>
              <td><%= (cart.item.price*cart.quantity).to_s(:delimited) %></td>
            </tr>
          <% end %>
        </table>

        <table class="table-bordered ml-4">
            <tr>
              <td class="table-secondary">送料</td>
              <td>800</td>
            </tr>
            <tr>
              <td class="table-secondary">商品合計</td>
              <td><%= @total.round.to_s(:delimited) %></td>
            </tr>
            <tr>
              <td class="table-secondary">請求金額</td>
              <td><%= (@total + 800).round.to_s(:delimited) %></td>
            </tr>
        </table>
      </div>

      <div>
        <!-- @total.to_s(:delimited) --> <!-- お買い物の合計金額 -->
      </div>

      <h3>支払い方法</h3>
        <%= @new_order.payment_method_i18n %>

      <h3>お届け先</h3>
        〒<%= @new_order.postal_code %>
        <%= @new_order.address %></br>
        <%= @new_order.name %>

      <%= form_with(model: @new_order, url: orders_path, local: true) do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :postal_code %>
        <%= f.hidden_field :payment_method %>
        <div class="submit form-group">
          <%= f.submit '注文を確定する', class: "btn btn-success" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
