<% if @new_order.errors.any? %>
  <h3><%= @new_order.errors.count %> error prohibited this obj from being saved:</h3>
  <ul>
    <% @new_order.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-12 mt-5">

      <h2>注文情報入力</h2>

      <%= form_with(model: @new_order, url: confirmation_orders_path, local: true) do |f| %>
        <div>
          <div class="font-weight-bold">
            <%= f.label :payment_method, "支払方法" %>
          </div>
          <div class="form-group pl-4">
            <%= f.radio_button :payment_method, :card, checked: true %>
            <%= f.label :payment_method, "クレジットカード", {value: :card} %>
          </div>
          <div class="form-group pl-4">
            <%= f.radio_button :payment_method, :furikomi %>
            <%= f.label :payment_method, "銀行振込", {value: :furikomi} %>
          </div>
        </div>

        <div>
          <div class="font-weight-bold">
            <%= f.label :address, "お届け先"%>
          </div>
          <div class="form-group pl-4">
            <%= f.radio_button :address_num, 1 , checked: true%> <!-- address_number と定義して1～3の番号を check に送ります -->
            <%= f.label :address_num_1, "ご自宅" %></br>
            <div class="pl-4">
              〒<%= current_customer.post_code %>
              <%= current_customer.address %></br>
              <%= current_customer.last_and_first_name %>
            </div>
          </div>
          <div class="form-group pl-4">
            <%= f.radio_button :address_num, 2 %>
            <%= f.label :address_num_2, "登録先住所から選択" %></br>
            <div class="pl-4">
              <%= f.collection_select(:registered_addresses, @shipping_addresses, :id, :view_shipping_address) %>
            </div>
          </div>
          <div class="form-group pl-4">
            <%= f.radio_button :address_num, 3 %>
            <%= f.label :address_num_3, "新しいお届け先" %>
              <div class="pl-2 d-flex bd-highlight">
                <div class="col-3"><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></div>
                <div><%= f.text_field :postal_code, placeholder: "0000000" %></div>
              </div>
              <div class="pl-2 d-flex bd-highlight">
                <div class="col-3"><%= f.label :address, "住所" %></div>
                <div><%= f.text_field :address, placeholder: "〇〇県××市▲▲町1-1" %></div>
              </div>
              <div class="pl-2 d-flex bd-highlight">
                <div class="col-3"><%= f.label :name, "宛名" %></div>
                <div><%= f.text_field :name, placeholder: "田中太郎" %></div>
              </div>
          </div>

        </div>

        <div class="submit form-group col-12 text-center">
          <%= f.submit '確認画面に進む', class: "btn btn-success" %>
        </div>
      <% end %>

    </div>
  </div>
</div>