<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-12 mt-5">

      <h2>注文履歴詳細</h2>

        <div  class="d-flex p-2 bd-highlight"><!--注文情報と請求情報を横並びにするためのdiv-->
          <div class="col-5">
            <h4>注文情報</h4>
            <table class="table-bordered col-12">
              <tr>
                <td class="table-secondary pt-2 pb-2">注文日</td>
                <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
              </tr>
              <tr>
                <td class="table-secondary pt-2 pb-2">配達先</td>
                <td>
                  〒<%= @order.postal_code %></br>
                  <%= @order.address %></br>
                  <%= @order.name %>
                </td>
              </tr>
              <tr>
                <td class="table-secondary pt-2 pb-2">支払方法</td>
                <td>
                  <%= @order.payment_method_i18n %>
                </td>
              </tr>
              <tr>
                <td class="table-secondary pt-2 pb-2">ステータス</td>
                <td><%= @order.production_status_i18n %></td>
              </tr>
          </table>
        </div>

        <div class="ml-4">
          <h4>請求情報</h4>
          <table class="table-bordered">
            <tr>
              <td class="table-secondary pr-5 pt-2 pb-2">商品合計</td>
              <td class="pr-5"><%= @total.round.to_s(:delimited) %></td>
            </tr>
            <tr>
              <td class="table-secondary pt-2 pb-2">配送料</td>
              <td>800</td>
            </tr>
            <tr>
              <th class="table-secondary pt-2 pb-2">ご請求額</th>
              <td><%= (@total + 800).round.to_s(:delimited) %></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="p-4">
        <div class="mt-4">
          <h4>注文内容</h4>
          <table class="table-bordered col-md-6">
            <tr class="table-secondary">
              <th>商品</th>
              <th>単価(税込)</th>
              <th>個数</th>
              <th>小計</th>
            </tr>
            <% @order_details.each do |order_detail| %>
              <tr>
                <td class="pt-2 pb-2"><%= order_detail.item.name %></td>
                <td class="pt-2 pb-2"><%= order_detail.price.round.to_s(:delimited) %></td>
                <td class="pt-2 pb-2"><%= order_detail.quantity %></td>
                <td class="pt-2 pb-2"><%= order_detail.subtotal.round.to_s(:delimited) %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>