   <div class="jumbotron">
   <h3 class="title font-weight-bold">商品一覧（全<%= @amount %>件)</h3>

   <div class="row">
   <% @items.each do |item| %>
      <div class="card card-divdiv">
       <%= link_to item_path(item.id) do %>
       <%= image_tag item.item_image, class:"card-image" %>
       <div class="card-body">
       <%= item.name %>
       </div>
      <% end %>
      ￥<%= item.price.to_s(:delimited) %>
       </div>
    <% end %>
   </div>

  　<div class="container mt-5">
  	 <div class= "row">
      <div class="mx-auto">
      <%= paginate @items %>
       </div>
        </div>
         </div>
         </div>
