  <div class="container">
   <h3 class="title font-weight-bold">商品一覧（全<%= @amount %>件)</h3>
   <div class="row">

    <% @items.each do |item| %>
     <div class="col-sm-5">
      <%= link_to item_path(item.id) do %>
       <%= image_tag item.get_item_image(200,200) %>
       <%= item.name %>
      <% end %>
      ￥<%= item.price.to_s(:delimited) %>
     </div>
    <% end %>
   </div>
   </div>

  　<div class="container mt-5">
  	 <div class= "row">
      <div class="mx-auto">
      <%= paginate @items %>
       </div>
        </div>
         </div>
