<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <%= link_to image_tag("logo.png"), root_path %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
                <li class="nav-item">
                  <%= link_to customer_path(current_customer), class: 'nav-link text-warning' do %>
                    <i class="fas fa-house-user"></i>マイページ
                  <%end%>
                </li>
                <li class="nav-item">
                  <%= link_to items_path, class: 'nav-link text-warning' do %>
                    <i class="fas fa-cheese"></i>商品一覧
                  <%end%>
                </li>
                <li class="nav-item">
                  <%= link_to cart_items_path, class: 'nav-link text-warning' do  %>
                    <i class="fas fa-shopping-cart"></i>カート
                  <%end%>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-warning' do %>
                    <i class="fas fa-sign-out-alt"></i>ログアウト
                  </li>
                <%end%>
                <li class="search_form">
                  <%= form_with url: search_path, local: true, method: :get do |f| %>
                    <%= f.text_field :word %>
                    <%= f.select :range, options_for_select([['Item']]) %>
                    <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
                    <%= f.submit "検索", class: "btn btn-warning" %>
                  <% end %>
                </li>
              <% elsif admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to admin_items_path, class: 'nav-link text-warning' do  %>
                    <i class="fas fa-cheese"></i>商品一覧

                  <%end%>
                </li>
                <li class="nav-item">
                  <%= link_to admin_customers_path, class: 'nav-link text-warning' do  %>
                    <i class="fas fa-home"></i>会員一覧
                  <%end%>
                </li>
                <li class="nav-item">
                  <%= link_to admin_orders_path, class: 'nav-link text-warning' do  %>
                    <i class="fas fa-home"></i>注文履歴一覧
                  <%end%>
                </li>
                <li class="nav-item">
                  <%= link_to admin_item_genres_path, class: 'nav-link text-warning' do  %>
                    <i class="fas fa-home"></i>ジャンル一覧
                  <%end%>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-warning' do %>
                  <i class="fas fa-sign-out-alt"></i>ログアウト
                </li>
                <%end%>
              <% else %>
                <li class="nav-item">
                  <%= link_to about_path, class: 'nav-link text-warning' do  %>
                    <i class="fas fa-link"></i>About
                  <%end%>
                </li>
                <li class="nav-item">
                  <%= link_to items_path, class: 'nav-link text-warning' do  %>
                    <i class="fas fa-cheese"></i>商品一覧
                  <%end%>
                </li>
                <li class="nav-item">
                  <%= link_to new_customer_registration_path, class: 'nav-link text-warning' do %>
                    <i class="fas fa-user-plus"></i>新規登録
                  <%end%>
                </li>
                <li class="nav-item">
                  <%= link_to new_customer_session_path, class: 'nav-link text-warning' do %>
                    <i class="fas fa-sign-in-alt"></i>ログイン
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="yield">
    <%= yield %>
    </div>

    <footer class="footer shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <div>
            <p class="text-muted">Nagano-cake.inc</p>
          </div>
        </div>
        <div class="container">
          <div class="text-white">
            <h6 class="font-weight-bold"><ガイド><h6>
            <div class="p-1"><%= link_to "ホーム", root_path, class: 'nav-link text-light' %></div>
            <div class="p-1"><%= link_to "アバウト", about_path, class: 'nav-link text-light' %></div>
          </div>
          <div class="text-white">
            <h6 class="font-weight-bold"><コンテンツ></h6>
            <div class="p-1"><%= link_to "マイページ", customers_path, class: 'nav-link text-light' %></div>
            <div class="p-1"><%= link_to "配送先一覧/登録", shipping_addresses_path, class: 'nav-link text-light' %></div>
            <div class="p-1"><%= link_to "注文一覧", orders_path, class: 'nav-link text-light' %></div>
          </div>
          <div></div>
          <div></div>
        </div>

      </nav>
    </footer>

  </body>
</html>
